{% extends "layout.html" %}
{% block content %}
    <h2>Admin</h2>

    <p>Welcome {{session['name']}}</p>

    {% if results %}
    <form action="/admin" method="POST">
        <table class="table">

            <tr>
                <!-- Get all the keys of the first python dictionary as column headings -->
                {% for columnname in results[0].keys() %}
                    <th>{{columnname}}</th>
                {% endfor %}
                    <th>delete ?</th>
            </tr>

            {% for row in results %}
                <tr>
                    {% for cell in row.values() %}
                        <td>{{cell}}</td>
                    {% endfor %}
                    <td><input type="checkbox" name="selectedusers" value="{{row['userid']}}"></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
        <input type="Submit" value="Delete users">
    </form>
{% endblock %}