{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
    <h2>Welcome {{session['name']}}</h2></p>
    {% include "profilephoto.html" %}
    <p>Are you a Karaoke Lover? Look no further than Karaoke Lover Australia! Our innovative service is your ultimate companion for all things karaoke. With our app, you can easily locate karaoke events near you, add your favorite songs to the playlist, and keep track of your spot in the karaoke queue.
    </p><p>
    But that's not all – our mobile app takes your karaoke experience to the next level! Search for songs, view lyrics, and even listen to the songs right from your device. Whether you're a seasoned performer or just looking to have some fun, Karaoke Lover Australia has everything you need to unleash your inner rock star. Download the app now and get ready to hit the stage!</p>
    <img src="static/images/microphone.jpg" alt="microphone" class="microphone">
    </div>
</div>  
{% endblock %}