{% extends "layout.html" %}

{% block content %}
<h2>Register</h2>
{{ message }}
<form action="/register" method="POST">
  <label>First name:</label><br>
  <input type="text" name="firstname"><br>
  <label>Last name:</label><br>
  <input type="text" name="lastname"><br>
  <label>Email:</label><br>
  <input type="email" name="email"><br>
  <label>Password:</label><br>
  <input type="password" name="password"><br>
  <label>Confirm Password:</label><br>
  <input type="password" name="passwordconfirm"><br> 
  <br><br>
  <input type="submit" value="Submit">
</form>
{% endblock %}
